<html>
  <head>
     <title>All HAL</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <center>
        <img src="logo.png" style="height:200px;" alt="Logo Swag">
      </center>
    </div>

    <div class="container">
                         
    <div class="row align-items-center justify-content-center">
    <div class="col-md-10">
      <form  action="" method="post" role="form">
        {{ form.csrf }}
        <div class="form-group">
          <label for="name">Recherche :</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Séparez les différents noms par des ;">
        </div>
        <div class="form-group">
            <label for="search">Type de recherche :</label>
            <select class="form-control" id="search" name="search">
            {% for id, label in form.search.choices %}
                <option value="{{id}}"> {{ label }} </option>
            {% endfor %}
            </select>
        </div>
        <br>
        <center>
          <button type="submit" class="btn" style="color:#fff;background-color: #108014;border-color: #1c4c1c;">Rechercher</button>
        </center>
      </form>

      <br>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

                {% for category, message in messages %}
                    {% if category == "number": %}
                        <div class="alert alert-info">
                            <strong>Wololo ! </strong>
                           {{ message }}
                        </div>
                    {% elif category == "response": %}
                        <div>
                           {{ message }}
                       </div>                                                                           
                    {% endif %}

                    {% if "Error" in message[1]: %}
                        <div class="alert alert-danger">
                        <strong>Error: </strong> {{ message[1] }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}

    </div>
    <br>
    </div>
    </div>
  </body>
</html>